{:paths ["src"]
 :deps {cheshire/cheshire {:mvn/version "5.12.0"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        http-kit/http-kit {:mvn/version "2.7.0"}}

 :aliases {:outdated {:extra-deps {olical/depot {:mvn/version "2.0.1"}}
                      :main-opts  ["-m" "depot.outdated.main" "-a" "outdated"]}
           :tag {:extra-deps {tolitius/tag {:mvn/version "0.1.7"}}
                 :main-opts ["-m" "tag.core" "tolitius/envoy" "a gentle touch of clojure to hashicorp's consul"]}
           :jar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.128"}}
                 :extra-paths ["target/about"]
                 :main-opts ["-m" "hf.depstar.jar" "target/envoy.jar" "--exclude" "clojure/core/specs/alpha.*"]}
           :deploy {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "target/envoy.jar"]}
           :install {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
                     :main-opts ["-m" "deps-deploy.deps-deploy" "install" "target/envoy.jar"]}
           :test {:extra-paths ["test"]
                  :exec-fn     cognitect.test-runner.api/test
                  :main-opts   ["-m" "cognitect.test-runner"]
                  :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                                org.clojure/test.check               {:mvn/version "RELEASE"}}}}}
